<div class="isi" id="isi">
<div class="container">
  <div class="content">
    <div class="isiHeader">
      <div class="title"> Important Safety Information</div>
      <div class="ms-auto">
        <a href="javascript:;" class="btn btn-isiToggle">
          <i class="i"></i>
        </a>
      </div>
    </div>

    <div class="isiContent">
      <p class="isiSubHead">What is SKYCLARYS?</p>
      <p>SKYCLARYS is used for the treatment of Friedreich’s ataxia in adults and children 16 years of age and
        older.</p>

      <p class="isiSubHead">
        Before taking SKYCLARYS, tell your healthcare provider about all your medical conditions, including if
        you:
      </p>
      <ul>
        <li>have liver problems.</li>
        <li>have a history of heart problems, including heart failure.</li>
        <li>have a high level of fat in your blood (high blood cholesterol).</li>
        <li>are pregnant or plan to become pregnant.
          <ul>
            <li>
              It is not known if SKYCLARYS will harm your unborn baby.
            </li>
            <li>
              Women who use hormonal birth control should use another form of birth control such as a non-hormonal
              intrauterine system or an
              extra non-hormonal birth control such as condoms while using SKYCLARYS and for 28 days after
              stopping SKYCLARYS.
            </li>
          </ul>
        </li>
        <li>
          are breastfeeding or plan to breastfeed. It is not known if SKYCLARYS passes into your breast milk. Talk
          to your healthcare provider about the best way to feed your baby if you take SKYCLARYS.
        </li>
      </ul>
      <p><strong>Tell your healthcare provider about all the medicines you take</strong>, including prescription
        and
        over-the-counter medicines, vitamins, and herbal supplements. Some medications interact with SKYCLARYS.
        <strong>
          Keep a list of your medicines to show to your healthcare provider and pharmacist when you get a new
          medicine.
        </strong>
      </p>
      <p class="isiSubHead">What are the possible side effects of SKYCLARYS?</p>
      <p>SKYCLARYS may cause serious side effects, including:</p>
      <ul>
        <li><strong>increase in blood liver enzymes.</strong> Some people taking SKYCLARYS have had an increase in
          the level of liver enzymes in their blood. Your healthcare provider will do liver function tests
          <ul>
            <li>
              before you start taking SKYCLARYS
            </li>
            <li>
              every month for the first 3 months after starting your treatment with SKYCLARYS
            </li>
            <li>
              during certain times as needed while taking SKYCLARYS
            </li>
          </ul>
          <p class="insidePara ">
            If your liver enzymes increase, your healthcare provider may change
            your dose during treatment, stop treatment for some time, or
            completely stop treatment with SKYCLARYS.
          </p>
        </li>
        <li><strong>increase in a blood protein called B-Type Natriuretic Peptide (BNP).</strong> BNP tells how
          well your heart is
          working. Your healthcare provider will check your BNP levels before your treatment with SKYCLARYS. Tell
          your healthcare provider if you have signs and symptoms of your heart not working well such as too much
          fluid in your body (fluid overload). Signs and symptoms may include:
          <ul>
            <li>
              sudden weight gain (3 pounds or more of weight gain in 1 day, or 5 pounds or more of weight gain in
              1 week)
            </li>
            <li>
              swelling in your arms, hands, legs, or feet (peripheral edema)
            </li>
            <li>
              fast heartbeat (palpitations)
            </li>
            <li>
              shortness of breath
            </li>
          </ul>
          <p class="mb-4">
            If you have symptoms of fluid overload that is considered a side effect
            of SKYCLARYS, your healthcare provider may stop treatment with
            SKYCLARYS.
          </p>
        </li>
        <li>
          <strong>changes in cholesterol levels.</strong> Increases in low density lipoprotein cholesterol (LDL-C)
          or bad cholesterol and decreases in high density lipoprotein cholesterol (HDL-C) or good cholesterol
          have happened during treatment with SKYCLARYS.
        </li>
        <p>
          Your healthcare provider will check your cholesterol levels before and
          during your treatment with SKYCLARYS.
        </p>
      </ul>
      <p class="isiSubHead mb-0">The most common side effects of SKYCLARYS include:</p>
      <ul>
        <li>increased liver enzymes (ALT/AST)</li>
        <li>headache</li>
        <li>nausea</li>
        <li>stomach pain</li>
        <li>tiredness</li>
        <li>diarrhea</li>
        <li>muscle pain</li>
      </ul>
      <p>These are not all the possible side effects of SKYCLARYS. Call your doctor for medical advice about side
        effects.</p>
      <p class="isiSubHead">
        You are encouraged to report negative side effects of prescription drugs to the FDA.
      </p>
      <p class="isiSubHead">
        Visit <a class="text-link link-dark" href="www.fda.gov/medwatch">www.fda.gov/medwatch</a> or call <a
          href="tel:1-800-FDA-1088">1-800-FDA-1088</a>. You may also report side
        effects to Reata Pharmaceuticals,
        Inc., at <a href="tel:1-800-314-3934">1-800-314-3934</a>. </p>
      <p class="isiSubHead">For additional information about SKYCLARYS, please see the full <a
          class="text-link link-dark" href="javascript:;">Prescribing
          Information</a> and <a class="text-link link-dark" href="javascript:;">Patient Product Information</a>.
      </p>
      <p class="versionNumber">
        US-SKY-2300092 v1.0
      </p>
    </div>
    <div class="isiFooter">
      <img src="{{ base_path ~ directory }}/images/logo/isi_logo.svg" alt="skyclarys" aria-label="Skyclarys (omaveloxolone) 50mg capsules">
    </div>
  </div>
</div>
</div>