<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PB7CDDZ" height="0" width="0"
style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="defs">
<filter id="blur">
<feGaussianBlur stdDeviation="20" />
</filter>
</svg>

<header class="header">
<nav class="nanoNav">
<div class="container">
  <div class="nav navbar-expand">
	<!-- <ul class="navbar-nav">
	  <li class="nav-item">
		<a class="nav-link" href="#isi">Important Safety Information</a>
	  </li>v
	</ul> -->
	<ul class="navbar-nav ms-auto">
	  <li class="nav-item">
		<a class="nav-link btnRedirectHCP" href="../hcp/">For Healthcare Providers</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="/prescribing-information">Prescribing Information</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link " href="#isi">Important Safety Information</a>
	  </li>
	</ul>
  </div>
</div>
</nav>
<nav class="navbar navbar-expand-xl navbar-dark">
<div class="container">
  <a class="navbar-brand" href="./" aria-label="Skyclarys (omaveloxolone) 50mg capsules">
	<span class="visually-hidden">Skyclarys</span>
	<!-- <img src="../images/logo.png" alt="Skyclarys"> -->
	<picture>
	  <source media="(min-width: 1200px)" srcset="{{ base_path ~ directory }}/images/logo/logo.svg">
	  <source media="(max-width: 1199px)" srcset="{{ base_path ~ directory }}/images/logo/logo_mob.svg">
	  <img src="{{ base_path ~ directory }}/images/logo.svg" alt="Skyclarys">
	</picture>
  </a>
  <div class="nav-item hasBtn d-block d-xl-none">
	<a class="nav-link btn btn-accent" href="#"><span>Stay connected</span></a>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMainMenu"
	aria-controls="navbarMainMenu" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMainMenu">
	<ul class="navbar-nav ms-xl-auto">
	  <!--  active" aria-current="page -->
	  <li class="nav-item">
		<a class="nav-link" href="./about-skyclarys">About SKYCLARYS</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="./dosing">Dosing and Safety</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="./get-skyclarys">Get SKYCLARYS</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="./resources">Resources</a>
	  </li>
	  <li class="nav-item hasBtn d-none d-xl-block">
		<a class="nav-link btn btn-accent" href="./stay-connected" aria-label="Stay Connected Button">
		  <span area-hidden="false">Stay connected</span>
		</a>
	  </li>
	  <!-- <li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown"
		  aria-expanded="false">
		  Dropdown
		</a>
		<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
		  <li><a class="dropdown-item" href="#">Action</a></li>
		  <li><a class="dropdown-item" href="#">Another action</a></li>
		  <li>
			<hr class="dropdown-divider">
		  </li>
		  <li><a class="dropdown-item" href="#">Something else here</a></li>
		</ul>
	  </li> -->
	</ul>
	<ul class="navbar-nav miniLinks d-block d-xl-none">
	  <li class="nav-item">
		<a class="nav-link btnRedirectHCP" href="../hcp/">For Healthcare Professionals</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="../docs/pi.pdf">Prescribing Information</a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link " href="#isi">Important Safety Information</a>
	  </li>
	</ul>
  </div>
</div>
</nav>
</header>